<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student_group.name %>
</p>

<%= link_to 'Edit', edit_student_group_path(@student_group) %> |
<%= link_to 'Back', student_groups_path %>
