<div class='nested-fields large-4 columns'>
<%= f.collection_radio_buttons :value,
        [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]],
        :first,
        :last,
        collection_wrapper_tag: 'div',
        required: true
      -%>
      <%= f.input :user_id, :as => :hidden, :input_html => {:value => session[:user_id]} -%> 
      <%= f.input :question_id, :as => :hidden, :input_html => {:value => question.id} -%> 
      <%= f.input :word_id, :as => :hidden, :input_html => {:value => @word.id} -%> 
</div>


