<div class="row">
  <div class="large-8 columns">
    <h1>C'est fini ! Merci de votre participation !</h1>
  </div>
  <p class='instruction'>
  Explication pour recevoir la compensation
  </p>
</div>
