<div class="row">

  <div class="large-12 columns">
    <h1>C'est fini ! Merci de votre participation !</h1>

    <p class='instruction'>
      Explication temps expiré
    </p>

    <p class='instruction'>
      Si vous avez des questions, voici notre courriel : labo.brambati@gmail.com
    </p>
  </div>

</div>
