<div class="row">
  <div class="large-8 columns">
    <h3>Consigne</h3>
    <p>
    Bla bla bla vous allez avoir une liste de question et va falloir répondre alors posse ton popotin sur la chaise et concentre toi !
    </p>
    <%= link_to "Commencer le questionnaire", new_user_path, :class => "button button-large" %>
  </div>
</div>
