<div class="row">
  <div class="large-12 columns">

    <p class='instruction'>
    Vous allez participer à une étude qui évalue votre ressenti subjectif par rapport à des noms en français.
    </p>

    <p class='instruction'>
    Le temps de votre participation est d’une durée maximale d’une heure et demie.
    </p>

    <p class='instruction'>
    Seuls les participants qui auront terminé tout le questionnaire recevront la carte cadeau.
    </p>

    <p class='instruction'>
    Ne vous connectez pas immédiatement au site du questionnaire si vous n’êtes pas sûr d’avoir une heure et demie de temps libre sans aucune distraction (seul dans une pièce, ambiance calme, pas de téléphone, etc…)
    </p>

    <%= link_to "Commencer le questionnaire", new_user_path, :class => "button button-large" %>
  </div>
</div>
