<div class="row">
  <div class="large-8 columns">
    <h2>Consignes</h2>
    <p class='instruction'>
    Bonjour ! Vous allez participer à une évaluation en ligne.</br>Les consignes vont défiler au fur et à mesure.
    </p>

    <p class='instruction'>
      Différentes questions vont vous être posées pour chaque mot. Il est important de bien répondre à chaque question avant d'appuyer sur "Valider" et d'effectuer la totalité de l'expérimentation en une seule fois.
    </p>
    <p class='instruction'>
    Lorsque vous êtes prêt appuyez sur "Commencez", vous devrez d'abord remplir un court questionnaire puis l'expérimentation commencera. C'est parti ! 
    </p>
    <%= link_to "Commencer le questionnaire", new_user_path, :class => "button button-large" %>
  </div>
</div>
