<div class="row">

  <div class="large-12 columns">
    <h1>Vous êtes enregistré, veuillez vous reconnecter plutard pour faire le questionnaire !</h1>

    <p class='instruction'>
      Si vous avez des questions, voici notre courriel : labo.brambati@gmail.com
    </p>
  </div>

</div>
